<div class="container">
  <div class="row">
    <div class="col-6">
      <h4>Student Portal</h4>
    </div>
    <div class="col-6 text-end">
      <button
        type="button"
        class="btn btn-outline-success"
        (click)="openModel()"
      >
        Add item
      </button>
    </div>
  </div>
  <div class="row">
    @for (item of studentList; track $index) {
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">{{ item.name }}</div>
            <div class="col-6 text-end">{{ item.mobileNo }}</div>
          </div>
        </div>
        <div class="card-body">
          <p>{{ item.city }}, {{ item.state }} , {{ item.pincode }}</p>
          <address>{{ item.address }}</address>
        </div>
        <div class="card-footer text-center">
          <p>{{ item.email }}</p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
<!-- Modal -->
<div
  class="modal"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  #exampleModal
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Create New Student
        </h1>
        <button type="button" class="btn-close" (click)="closeModel()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <label for="">Name</label>
            <input
              type="text"
              [(ngModel)]="studentObj.name"
              class="form-control"
              placeholder="Name"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="">Email</label>
            <input
              type="email"
              [(ngModel)]="studentObj.email"
              class="form-control"
              placeholder="Email"
            />
          </div>
          <div class="col-6">
            <label for="">Mobile No</label>
            <input
              type="text"
              [(ngModel)]="studentObj.mobileNo"
              class="form-control"
              placeholder="Mobile No"
            />
          </div>
          <div class="col-4">
            <label for="">City</label>
            <input
              type="text"
              [(ngModel)]="studentObj.city"
              class="form-control"
              placeholder="City"
            />
          </div>
          <div class="col-4">
            <label for="">State</label>
            <input
              type="text"
              [(ngModel)]="studentObj.state"
              class="form-control"
              placeholder="State"
            />
          </div>
          <div class="col-4">
            <label for="">Pincode</label>
            <input
              type="text"
              [(ngModel)]="studentObj.pincode"
              class="form-control"
              placeholder="Pincode"
            />
          </div>
          <div class="col-12">
            <label for="">Address</label>
            <textarea
              [(ngModel)]="studentObj.address"
              rows="3"
              class="form-control"
              placeholder="Address"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModel()">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="saveStudent()">
          Save Student
        </button>
      </div>
    </div>
  </div>
</div>
